
ADMIN_PWD: 'key'
ADMIN_PUB_KEY: 'key'
ADMIN_PRIV_KEY: 'key'
SUPERADMIN_PUB_KEY: 'key'
SUPERADMIN_PRIV_KEY: 'key'
RABBITMQ_PUB_KEY: 'key'
RABBITMQ_PRIV_KEY: 'key'
IMS_PUB_KEY: 'key'
IMS_PRIV_KEY: 'key'
SERVER_ID: 'key'