apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: mongodb
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
      labels:
        io.kompose.service: mongodb
        app: mongodb
    spec:
      containers:
      - image: $MONGODB_NAMESPACE/mongodb:$MONGODB_VERSION
        imagePullPolicy: ""
        name: mongodb
        resources: {}
        volumeMounts:
        - mountPath: /data/db
          name: db-mongo
      restartPolicy: Always
      serviceAccountName: ""
      volumes:
      - name: db-mongo
        persistentVolumeClaim:
          claimName: db-mongo
status: {}
